{{define "title"}}Home{{end}} {{define "main"}}
<h2>Latest Snippets</h2>
<!-- If we have snippets, we'll render them all. -->
{{if .Snippets}}
<table>
  <tr>
    <th>Title</th>
    <th>Created</th>
    <th>ID</th>
  </tr>
  <!-- rendering all our snippets-->
  {{range .Snippets}}
  <tr>
    <td><a href="/snippet/{{.ID}}">{{.Title}}</a></td>
    <td>{{.Created}}</td>
    <td>#{{.ID}}</td>
  </tr>
  {{end}}
</table>
<!-- Otherwise, render what's below-->
{{else}}
<p>There's nothing to see here yet!</p>
{{end}} {{end}}
